.class1 {
    background-color: #a0f89b;
}
.class2{
    background-color: #d8bfd8;
}
.class3{
    background-color:#cec8ef;
}
.class4{
    background-color: #f0e68c;
}
.container {

    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: stretch;

}
.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-radius: 1px;
    font-size: 120%;
    height: 16px;
    width: 150px;
    padding: 5px;
    margin-top: 5px;
    align-self: flex-end;
    font-family: 'Inter', sans-serif;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
}
th, td {
    border:1px solid black;
    text-align: center;
}

.p{
    padding-left: 5px;
    color: #cf71af;
}
.main{
    display: flex;
    width: 100%;
}
@media (max-width: 768px){
    .main{
        flex-direction: column;
    }
    .col-xs-12{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .main{
        flex-wrap: wrap;
    }
    .col-sm-6{
        width: calc(50% - 14px);
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .main{
        flex-wrap: wrap;
    }
    .col-md-4{
        width: calc(33.33% - 14px);
    }
    .col-md-12{
        width: 100%
    }
}
@media (min-width: 1200px){
    .col-lg-3{
        width: 25%;
    }
    img{
        width: calc(320px - 25px);
    }
}
.name{
    font-family: 'Raleway', sans-serif;
}
.main p, th, td, li {
    font-family: 'Montserrat', sans-serif;
}
.color1{
    background-color: #04600e;
}
.color2{
    background-color: rgb(255, 95, 183) ;
}
.color3{
    background-color: #717ecf ;
}
.color4
{
    background-color: #dcdcdc;
}
.text1{
    color: white;
}
.text2{
    color: black;
}
.text3{
    color: #ffefd5;
}
.text4{
    color: #a28557;
}
li{
    color: #7f27bd;
}
th, td{
    color: #69359c;
}